<div class="container-fluid bg-dark text-light">
    <div class="row text-center px-1 py-5 p-md-5">
        <div class="col-md-4">
            <h5>LIVRES</h5>
            <hr class="m-3">
            <ul class="m-3">
                {% for livre in get_livres() %}
                    <li class="text-start"><a class="text-light" target="_blank" href="{{ path('product_show', {'slug' : livre.slug })}}"> {{ livre.title|u.truncate(35, '...')|capitalize }} - {{ livre.author }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4" id="extraits">
            <h5>EXTRAITS</h5>
            <hr class="m-3">
            <ul class="m-3">
                <li class="text-start"><a class="text-light" target="_blank" href="https://www.jackzak.fr/wp-content/uploads/2022/02/JOH-extrait-site.pdf">Joh.1 L'effondrement</a></li>
                <li class="text-start"><a class="text-light" target="_blank" href="https://www.jackzak.fr/wp-content/uploads/2022/02/Sur-les-ailes-extrait-site-.pdf">Sur les ailes d'un papillon</a></li>
                <li class="text-start"><a class="text-light" target="_blank" href="https://www.jackzak.fr/wp-content/uploads/2022/02/Les-morsures-du-passe-extrait-site.pdf">Les morsures du passé</a></li>
                <li class="text-start"><a class="text-light" target="_blank" href="https://www.jackzak.fr/wp-content/uploads/2021/10/Impardonnables-Extrait-site.pdf">Impardonnables</a></li>
                <li class="text-start"><a class="text-light" target="_blank" href="https://www.jackzak.fr/wp-content/uploads/2022/04/Les-Chroniques-Extrait-site.pdf">Les chroniques des gardiens 1. Enfants de Nonna</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>COORDONNÉES</h5>
            <hr class="m-3">
            <p class="m-1">{{ contact_company }}</p>
            <p class="m-1">{{ contact_address }}</p>
            <p class="m-1">{{ contact_zip ~ ' ' ~ contact_city }}</p>
            <p class="m-1">{{ contact_phone }}</p>
            <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
        </div>
    </div>
    <hr class="m-2">
    <div class="container bg-dark text-light py-2">
        <div class="row align-items-center">
            <div class="col-md-6 text-lg-start">Copyright &copy; {{ "now"|date("Y") }} - JackZak </div>
            <div class="col-md-6 text-lg-end">
                <a class="text-light text-decoration-none me-3" href="#!">CGU</a>
                <a class="text-light text-decoration-none me-3" href="#!">CGV</a>
                <a class="text-light text-decoration-none me-3" target="_blank" href="{{ path('mentions') }}">Mentions légales</a>
                <a class="text-light text-decoration-none" target="_blank" href="{{ path('contact') }}">Nous contacter</a>
            </div>
        </div>
    </div>
</div>
